<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://melsk-r.github.io/Home/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Over Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.gemmaonline.nl/index.php/Ontwikkelagenda_API-standaarden">Roadmap</a>
          <a class="dropdown-item" href="https://www.gemmaonline.nl/index.php/Ontwikkelagenda_API-standaarden">Meer informatie</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VNGR API Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.gemmaonline.nl/index.php/Ontwikkelagenda_API-standaarden">Ontwikkelagenda API-standaarden</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/RAWA/">Referentiearchitectuur voor het werken met APIs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-zaken/">Zaakgericht Werken</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/klantinteracties/">Klantinteracties</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-verwerkingenlogging/">Verwerkingenlogging</a>           
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IMWOZ-bevragingen/">IMWOZ-Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/ODS-Open-Raadsinformatie/">Open Raadsinformatie</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Regels-bij-activiteiten/">Regels bij Activiteiten</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bijdragen aan API's</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/hoe-kun-je-bijdragen">Bijdragen aan API's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/bug_melden">Bug melden</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/verbetervoorstel">Verbetervoorstel</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/gebruikerswens">Gebruikerswens</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VNGR API Kennisbank</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Main</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/API Implementatie/Implementatie overwegingen">Implementatieoverwegingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/GitFlow/Gitflow_implementatie">Gitflow</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/Design rules/inhoud">Design Rules</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          StUF Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF Onderlaag</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel Basisgegevens: StUF-BG</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">RSGB Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF BAG</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">LV Adressen en Gebouwen (LV BAG)</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Kadastrale mutatieservices</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel Geo: StUF Geo IMGeo</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel HR: StUF-HR</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">LV Wet Kenbaarheid Publiekrechtelijke Beperkingen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel Zaken: StUF-ZKN</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel Zaaktypen(-catalogus): StUF–ZTC</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Zaak- en Documentservices</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Documentcreatieservices</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Prefill eFormulierservices</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel e-Formulieren: StUF-EF</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel WOZ: StUF-WOZ</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF BAG-GBA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Wabo-BAG services</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Toezicht- en Handhavenservices</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF-Geo BAG</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">LV Omgevingsloket</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Sectormodel RIHa: StUF-RIHa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF Jeugdzorg (CORV)</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Regie- en zaakservices</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">StUF-GGk berichtenvelop ISD-Keten</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Participatieladder</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Kinderopvang</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/API-Kennisbank/docs/index">Koppelvlak Betalen- en Invorderenservices</a>
       </div>
      </li>
    </ul>
</div>
