<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ZGW API's
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="melsk-r.github.io/catalogi-api/">Catalog API</a>
<!--          <a class="dropdown-item" href="https://vng-realisatie.github.io/klantinteracties/">Klantinteracties</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-verwerkingenlogging/">Verwerkingenlogging</a>           
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IMWOZ-bevragingen/">IMWOZ-Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/ODS-Open-Raadsinformatie/">Open Raadsinformatie</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Regels-bij-activiteiten/">Regels bij Activiteiten</a> -->
        </div>
      </li>
    </ul>
</div>
